# MongoDB Configuration
MONGO_URI=mongodb://root:example@mongo:27017/university_curriculum?authSource=admin

# Backend Configuration
PORT=3000
LOCAL_AUTH=true
LOCAL_MALLAS=true
NODE_ENV=production

# Frontend Configuration
VITE_API_URL=http://localhost:3000
